{% extends "base.html" %}

{% block content %}
      <div class="vote">
            <div class="back">
                <a href="{% url 'polls:index' %}">Back to Polls</a>
            </div>
            <div class="title">
                <h3>{{ question.question_text }}</h3>
            </div>
            {% if error_message %}
                <p>
                    <strong>{{ error_message }}</strong>
                </p>
            {% endif %}
            <div class="form">
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                     <div class="form-check">
                            <input 
                                type="radio" 
                                name="choice" 
                                id="choice{{ forloop.counter }}" 
                                value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                        </div>
                    {% endfor %}
                    <div class="submit">
                        <input type="submit" value="Vote">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}